<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Existing Billers Information</h4>
                <div class="table-overflow">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Biller</th>
                                <th scope="col">Date Joined</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let biller of billers">
                            <tr>
                                <td>{{biller.biller_name}}</td>
                                <td>{{biller.createdAt | date:'M/d/yy, h:mm a'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>